@import url('godofwar.png');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;

  background: url('godofwar.png') center/cover no-repeat fixed;
  overflow: hidden;
  color: #fff;
}

.fog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url('assets/images/fog.png') repeat;
  animation: fogMove 60s linear infinite;
  opacity: 0.4;
}

@keyframes fogMove {
  from { background-position: 0 0; }
  to { background-position: 2000px 0; }
}

.container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 1024px;
  max-width: 80%;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { filter: drop-shadow(0 0 5px red); }
  to { filter: drop-shadow(0 0 25px red); }
}

.login-box {
  background: rgba(0, 0, 0, 0.65);
  padding: 40px;
  border: 2px solid #a10000;
  box-shadow: 0 0 25px #000;
  width: 350px;
  text-align: center;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  font-size: 34px;
  margin-bottom: 20px;
  color: #e83b3b;
  text-shadow: 0 0 8px red;
}

label {
  display: block;
  margin: 12px 0 5px;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #a10000;
  background: #1a1a1a;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #a10000;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s;
}

button:hover {
  background: #cc0000;
  transform: scale(1.08);
  box-shadow: 0 0 12px red;
}

@media (max-width: 480px) {
  .logo {
    width: 250px;
  }

  .login-box {
    width: 85%;
    padding: 25px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 16px;
    padding: 10px;
  }
}

canvas#particles {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
